In [1]:
import pandas as pd
df = pd.read_csv('movie_data.csv')

In [2]:
#1
movie_df = df[df['Title Type'] == 'Movie']
len(df), len(movie_df)

(5252, 3901)

In [3]:
#2
print(len(movie_df[movie_df['Year']==2024]))
print(len(movie_df[(movie_df['Year']>=1990) & (movie_df['Year']<=1999)]))

73
474

In [4]:
#3
movie_df.sort_values(by=['Runtime (mins)'], ascending = [False]).head(1)[['Title', 'Date Rated', 'Runtime (mins)']]

                                  Title  Date Rated  Runtime (mins)
141  Kill Bill: The Whole Bloody Affair  2024-05-05           247.0

In [5]:
#4
df['Your Rating'].mean(), df[df['Title Type'] == 'TV Series']['Your Rating'].mean(), movie_df[movie_df['Directors'] == 'Christopher Nolan']['Your Rating'].mean()

(np.float64(6.71991622239147),
 np.float64(7.06280193236715),
 np.float64(8.416666666666666))

In [6]:
#5
print(movie_df.sort_values(by = ['IMDb Rating'], ascending = [False]).head(7)[['Title', 'IMDb Rating']])
movie_df.sort_values(by = ['Num Votes'], ascending = [False]).head(1)[['Title', 'IMDb Rating', 'Num Votes']]

                                              Title  IMDb Rating
4831                       The Shawshank Redemption          9.3
5251                                  The Godfather          9.2
4830                                   12 Angry Men          9.0
4832                                The Dark Knight          9.0
5250                               Schindler's List          9.0
1392    The Beatles: Get Back - The Rooftop Concert          9.0
5248  The Lord of the Rings: The Return of the King          9.0

                         Title  IMDb Rating  Num Votes
4831  The Shawshank Redemption          9.3    2909221

In [7]:
#6
len(movie_df[(movie_df['Date Rated'] >= '2019-01-01') & (movie_df['Date Rated'] <= '2019-12-31')])

199

In [8]:
#7
danny_df = movie_df[movie_df['Directors'].str.contains('Danny Boyle') & ((movie_df['Date Rated'] >= '2023-01-01') & (movie_df['Date Rated'] <= '2023-12-31'))]
len(danny_df), len(danny_df[danny_df['Runtime (mins)'] >= 100])

(5, 4)

In [9]:
#8
otheryear_df = movie_df[(movie_df['Year'] != 2023) & (movie_df['Date Rated'] >= '2023-01-01') & (movie_df['Date Rated'] <= '2023-12-31')]
otheryear_df.sort_values(by = ['Your Rating'], ascending = [False]).head(1)[['Title', 'IMDb Rating', 'Your Rating', 'Directors']]

           Title  IMDb Rating  Your Rating     Directors
613  Tokyo Story          8.1            9  Yasujirô Ozu

In [10]:
#9
dir_df = movie_df[(movie_df['Directors']=='Denis Villeneuve')| 
                  (movie_df['Directors']=='Céline Sciamma') | 
                  (movie_df['Directors']=='Yasujirô Ozu')].sort_values(by = ['Year'], ascending = [False])

dir_df.groupby('Directors').agg({'IMDb Rating': 'mean', 'Your Rating': 'mean', 'Title': lambda x: x.iloc[0], 'Num Votes': 'sum'})

                  IMDb Rating  Your Rating           Title  Num Votes
Directors
Céline Sciamma       7.320000     7.800000    Petite Maman     174929
Denis Villeneuve     7.788889     8.111111  Dune: Part Two    4514073
Yasujirô Ozu         7.816667     7.333333  Woman of Tokyo      98865