# Debugging common errors in Python

For each of the cells below, first examine the few lines of code and predict what output or error you'd get if you ran it.

Then run the lines in a seperate python script and compare what you thought would happen with what actually happened.

Fix the code and show the output.

In [1]:
odds = 3720
message = "Sir, the odds of successfully navigating an asteroid field are " + str(odds) + " to 1!"
print(message)

Sir, the odds of successfully navigating an asteroid field are 3720 to 1!

In [2]:
print("May the force be with you!")

May the force be with you!

In [3]:
jedi_list = ["Luke", "Yoda", "Obi-Wan"]
print(jedi_list[2] + " is a Jedi Master.")

Obi-Wan is a Jedi Master.

In [4]:
planets = ["Tatooine", "Dagobah", "Hoth"]
print(planets[-1])

Hoth

In [5]:
jedis = ["Luke", "Yoda", "Obi-Wan"]
names_length = [len(jedi) for jedi in jedis]
print(names_length)

[4, 4, 7]

In [6]:
quote = 'It\'s a Trap!'
print(quote)

It's a Trap!

In [7]:
midi_chlorian_count = 15000
if midi_chlorian_count > 10000:
    print("Strong with the Force, this one is.")

Strong with the Force, this one is.

In [8]:
for sith in ["Darth Vader", "Darth Sidious", "Darth Maul"]:
    print(sith)

Darth Vader
Darth Sidious
Darth Maul

In [9]:
def join_resistance(name, rank):
    message = f"{name} has joined the Resistance as a {rank}."
    return message

result = join_resistance("Finn", "Commander")
print(result)

Finn has joined the Resistance as a Commander.

In [10]:
import pandas as pd
df = pd.DataFrame({'Name': ['Han Solo', 'Leia Organa'], 'Role': ['Smuggler', 'Princess'], 'Age': ['33', '32']})
print(df['Age'])

0    33
1    32
Name: Age, dtype: object

In [11]:
df.head()

          Name      Role Age
0     Han Solo  Smuggler  33
1  Leia Organa  Princess  32

In [12]:
#remove row with NA
data = {'Name': ['Luke', 'Leia', 'Han'], 'Age': [23, None, 32]}
print(data)
print()
df = pd.DataFrame(data)
print(df)
print()
clean_df = df.dropna()
print(clean_df)

{'Name': ['Luke', 'Leia', 'Han'], 'Age': [23, None, 32]}

   Name   Age
0  Luke  23.0
1  Leia   NaN
2   Han  32.0

   Name   Age
0  Luke  23.0
2   Han  32.0

In [13]:
rebels = ['Luke', 'Leia', 'Han']
for rebel in rebels:
    print(f"Rebel: {rebel}")
print()
planets = ['Tatooine', 'Alderaan', 'Hoth']
for planet in planets:
    print(f"Planet: {planet}")

Rebel: Luke
Rebel: Leia
Rebel: Han

Planet: Tatooine
Planet: Alderaan
Planet: Hoth

In [14]:
for episode in range(1, 7):
    print(f'We are watching Star Wars episode {episode}.')
    anthology = ['Rogue One', 'Solo']
    for spinoff in anthology:
        print(f'{spinoff} is a Star Wars story.')
    print(f'Are we still watching Star Wars episode {episode}?')
    print()

We are watching Star Wars episode 1.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 1?

We are watching Star Wars episode 2.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 2?

We are watching Star Wars episode 3.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 3?

We are watching Star Wars episode 4.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 4?

We are watching Star Wars episode 5.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 5?

We are watching Star Wars episode 6.
Rogue One is a Star Wars story.
Solo is a Star Wars story.
Are we still watching Star Wars episode 6?